@top-height: 58px;
@bottom-height: 60%;

.amap-logo {
  display: none !important;
}

.amap-copyright {
  display: none !important;
}

.gm-m-map {
  width: 100%;
  height: 100%;
  position: relative;

  .gm-m-map-top {
    position: absolute;
    top: 0;
    width: 100%;
    height: @top-height;
    background: #fff;

    .gm-m-map-input-container {
      display: flex;
      align-items: center;
      position: relative;
      margin: 10px;

      input {
        border-radius: 20px;
        font-size: 18px;
        padding: 0 20px;
        height: 34px;
        width: 100%;
        -webkit-appearance: none;
        box-sizing: border-box;
        box-shadow: none;
        border: none;
        outline: none;
        background: #eee;
      }

      .gm-m-map-close {
        font-size: 16px;
        color: #999;
        position: absolute;
        right: 52px;
        top: 9px;
      }
    }

    .gm-m-map-cancel {
      flex: 1 0 auto;
      text-align: center;
      color: #56a3f2;
      margin-left: 5px;
      font-size: 18px;
    }
  }

  .gm-m-map-amap {
    position: absolute;
    top: @top-height;
    bottom: @bottom-height;
    width: 100%;
    flex: 1 1 auto;

    .gm-m-map-location {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 26px;
    }
  }

  .gm-m-map-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @bottom-height;
  }

  .gm-m-map-search {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
  }

  .gm-m-map-tips {
    width: 100%;
    height: 100%;
    z-index: 940;
    background: #fff;
    overflow-y: auto;

    .gm-m-map-tips-item {
      padding: 10px;
      border-bottom: 1px solid rgb(238, 238, 238);

      .item-name {
        font-size: 14px;
        margin-bottom: 5px;
      }

      .item-district {
        color: #777;
        font-size: 12px;
      }
    }
  }
}
